= form_tag '/corporate_contact', :class => "copilot-form", method: :post, data: {abide: ''} do
  .row
    %fieldset
      %legend Come Fly with Project Airtime!
      .small-12.column
        = label_tag :sender_name, "Name", :style => "margin-top: 5px;"
        = text_field_tag :sender_name, nil, placeholder: 'Johnny AppleSeed', class: 'radius', required: ''
        %small.error Please Include Your Name
      .small-12.column
        = label_tag :sender, "Phone Number"
        = email_field_tag :sender, nil, placeholder: '555-666-7777', class: 'radius', required: ''
      .small-12.column
        = label_tag :sender, "Email Address"
        = email_field_tag :sender, nil, placeholder: 'MrAppleSeed@example.com', class: 'radius', type:'email', required: ''
        %small.error Must Be Valid Email
      .small-12.column
        = label_tag :message, "Tell Us About Yourself"
        = text_area_tag :message, nil, placeholder: "Why do you want to come fly with us?", class: 'radius', rows: 3, required: ''
        %small.error Please Include Message Content
      .small-12.large-12.column
        =submit_tag "Send Co-Pilot Form", class: 'button right radius'