= form_tag '/copilot_form', :class => "copilot-form", method: :post, data: {abide: ''} do
  .row{style: "position: relative;"}
    %fieldset
      %legend Come Fly with Project Airtime!
      .small-12.column
        = text_field_tag :pilot_name, nil, style: "background: transparent; border: none; margin: -10px 0px 5px 0px; position: absolute; top: -200px; left: 0;"
        = label_tag :sender_name, "Name", :style => "margin-top: 5px;"
        = text_field_tag :sender_name, nil, placeholder: 'Jill Smith', class: 'radius', required: ''
        %small.error Please Include Your Name
      .small-12.column
        = label_tag :phone, "Phone Number"
        = text_field_tag :phone, nil, placeholder: '555-666-7777', class: 'radius', required: ''
        %small.error Please Include Your Phone Number
      .small-12.column
        = label_tag :sender_email, "Email Address"
        = email_field_tag :sender_email, nil, placeholder: 'jill.smith@example.com', class: 'radius', type:'email', required: ''
        %small.error Must Be Valid Email
      .small-12.column
        = label_tag :message, "Tell Us About Yourself"
        = text_area_tag :message, nil, placeholder: "Why do you want to come fly with us?", class: 'radius', rows: 3, required: ''
        %small.error Please Include Message Content
      .small-12.large-12.column
        = render 'shared/messages'
        =submit_tag "Let's Go Flying!", class: 'button right radius'