%nav.top-bar(role="navigation")
  %ul.title-area
    %li.name
      %img{:src=>"https://drive.google.com/uc?id=0B3QIC8WbZNtONDVTUXBQYUxSbnc", :style=>"height: 70px; margin-left: 30px;"}
  %section.top-bar-section
    %ul.right
      %li.has-dropdown.not-click
        = link_to "About", "#"
        %ul.dropdown
          %li= link_to "501(c)(3)", "#"
          %li= link_to "Chris Santacroce", "#"
      %li.has-dropdown.not-click
        = link_to "Fly with Us", "#"
        %ul.dropdown
          %li= link_to "FAQ", "#"
          %li= link_to "Come Fly With Us", "#"
          %li= link_to "Important Information", "#"
      %li.has-dropdown.not-click
        = link_to "Help the Cause", "#"
        %ul.dropdown
          %li= link_to "Sponsor Us", "#"
          %li= link_to "Make Donation", "#"
          %li= link_to "Volunteer Time", "#"