%nav.top-bar{role: 'navigation', data: {topbar:''}}
  %ul.title-area
    %li.name
      = link_to root_path do
        %img{:src=>"http://boostfitnessmarketing.com/wp-content/uploads/project-airtime-logo.gif", :style=>"height: 70px; margin-left: 5px;"}
    /%li.toggle-topbar.menu-icon
    /  %span Menu
  %section.top-bar-section
    %ul.right
      %li.has-dropdown.not-click
        = link_to "Get Started", "#"
        %ul.dropdown
          %li= link_to "About Chris", about_chris_path
          /%li= link_to "FAQ", faq_path
          %li= link_to "Come Fly With Us", root_path
          /%li= link_to "Important Information", important_information_path
      %li.has-dropdown.not-click
        = link_to "Help the Cause", "#"
        %ul.dropdown
          %li= link_to "Sponsor Us", sponsorship_path
          %li= link_to "Make Donation", make_donation_path
          %li= link_to "Volunteer", volunteer_path