%nav.top-bar{role: 'navigation', data: {topbar:''}}
  %ul.title-area
    %li.name
      = link_to root_path do
        %img{:src=>"https://drive.google.com/uc?id=0B3QIC8WbZNtONDVTUXBQYUxSbnc", :style=>"height: 70px; margin-left: 5px;"}
    /%li.toggle-topbar.menu-icon
    /  %span Menu
  %section.top-bar-section
    %ul.right
      %li.has-dropdown.not-click
        = link_to "Get Started", "#"
        %ul.dropdown
          %li= link_to "About Chris", about_chris_path
          %li= link_to "FAQ", "#"
          %li= link_to "Come Fly With Us", "#"
          %li= link_to "Important Information", "#"
      %li.has-dropdown.not-click
        = link_to "Help the Cause", "#"
        %ul.dropdown
          %li= link_to "Sponsor Us", "#"
          %li= link_to "Make Donation", "https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=SRUgEJqIjH8LGQfbqBW1dedWhQzPhHSQHMnx31dD6xNqhxFyLMNKYxNt3zi&dispatch=5885d80a13c0db1f8e263663d3faee8d99e4111b56ef0eae45e68b8988f5b2dd"
          %li= link_to "Volunteer Time", "#"