.show-for-small-down
  %img{:src=>"https://drive.google.com/uc?id=0B3QIC8WbZNtONDVTUXBQYUxSbnc", :style=>"height: 75px;"}
%nav.top-bar.collapse.show-for-medium-up(role="navigation")
  %ul.title-area
    %li.name
      %img{:src=>"https://drive.google.com/uc?id=0B3QIC8WbZNtONDVTUXBQYUxSbnc", :style=>"height: 75px;"}
    %li.toggle-topbar.menu-icon
      %span Menu Stuff
  %section.top-bar-section
    %ul.right
      %li.divider
      %li.has-dropdown.not-click
        = link_to "New Appointment", "#"
        %ul.dropdown
          %li= link_to "Grooming", "#"
      %li.divider
      %li.has-dropdown.not-click
        = link_to "Menu"
        %ul.dropdown
          %li= link_to "Business Dashboard", "#"
          %li= link_to "Customer List", "#"
          %li= link_to "Update Business Profile", "#"
          %li= link_to "Logout", "#"