%section.show-for-large-up{:style => "position: absolute;left: 65%; width: 30%; z-index: 1;"}
  = render 'shared/copilotform'
%section
  %img{:src=>"http://boostfitnessmarketing.com/wp-content/uploads/chris-tandem-wide-format-heroku.jpg", :style => "position: relative;"}
%section
  .row
    .small-12.large-4.columns
      %h4.centered
        What is Project Airtime?
      %p{:style=>"font-size: 14px;"}
        Project Airtime is a Nevada 501(c)(3) non-profit based in Draper, Utah. We take EVERYONE flying. When we say EVERYONE, we mean it. No exclusions. From special needs individuals to those with brain and spinal cord injuries. Individuals with illness, as well as the elderly and veterans. Our co-pilots have one thing in common, they want to fly!
    .small-12.large-4.columns
      %h4.centered
        How Do I Go Flying?
      %p{:style=>"font-size: 14px; border-left: 2px solid; border-right: 2px solid; padding: 0px 10px;"}
        Submit the co-pilot form and Chris will contact you to work out your Project Airtime flight details. You'll go over travel and lodging logistics, as well as any flying specifics. If you have a question about flying, he has the answer. Flying normally takes place at Point of the Mountain, Utah, but can be arranged in other locations as well.
    .small-12.large-4.columns
      %h4.centered
        How Can I Help Out?
      %p{:style=>"font-size: 14px"}
        We're always looking for people or organizations that are willing to
        %span
          =link_to "volunteer time/skill", volunteer_path
        or
        %span
          =link_to "become a sponsor.", sponsorship_path
        If you have a skill that you think would be of service to the team, please shoot us an email and we'll be in touch. We're currently looking for people with expertise in partnerships, promotions and fundraising, though all support is welcome.
%hr
%section.show-for-medium-down
  .row
    .small-10.small-centered.columns
      = render 'shared/copilotform'
    %hr
%section
  .row
    .small-12.column
      %h2.centered
        Project Airtime In the News
      %hr
  .row.centered.show-for-large-up{:style => "margin-bottom: 10px;"}
    .large-2.columns
      =link_to "http://kutv.com/features/pay-it-forward/flying-high-with-project-airtime", target: "_blank" do
        %img{:src => "/news_logos/kutv_logo.png" }
    .large-2.columns
      =link_to "http://www.eparent.com/wellness/everyone-can-fly/", target: "_blank" do
        %img{:src => "/news_logos/genetic_alliance_logo.png" }
    .large-2.columns
      =link_to "http://www.twincities.com/movies/ci_28290315/film-inspired-quadriplegic-he-hopes-his-own-story", target: "_blank" do
        %img{:src => "/news_logos/pioneer_press_logo.png" }
    .large-2.columns
      =link_to "http://www.issaquahpress.com/2014/08/19/sky-riders-tandem-flights-help-everyone-take-wing/", target: "_blank" do
        %img{:src => "/news_logos/issaquah_press_logo.png" }
    .large-2.columns
      =link_to "http://www.issaquahreporter.com/news/268961821.html", target: "_blank" do
        %img{:src => "/news_logos/issaquah_reporter_logo.png"}
    .large-2.columns
      =link_to "http://www.dailymail.co.uk/news/article-4051722/Daredevil-paralyzed-extreme-sports-accident-returned-base-jumping-six-years-later-t-use-limbs.html", target: "_blank" do
        %img{src: "/news_logos/mail_online_logo.gif"}
  .row.centered.show-for-medium-down{:style => "margin-bottom: 10px;"}
    .small-6.small-centered.columns
      =link_to "http://kutv.com/features/pay-it-forward/flying-high-with-project-airtime", target: "_blank" do
        %img{:src => "http://kutv.com/resources/media/kutv-header-logo.png" }
      %hr
    .small-6.small-centered.columns
      =link_to "Article_June_2015_EPMagazine.pdf", target: "_blank" do
        %img{:src => "http://www.geneticalliance.org/sites/default/files/logo_0.png" }
      %hr
    .small-6.small-centered.columns
      =link_to "http://www.twincities.com/movies/ci_28290315/film-inspired-quadriplegic-he-hopes-his-own-story", target: "_blank" do
        %img{:src => "http://local.twincities.com/assets/logo-extra-large.png" }
      %hr
    .small-6.small-centered.columns
      =link_to "http://www.issaquahpress.com/2014/08/19/sky-riders-tandem-flights-help-everyone-take-wing/", target: "_blank" do
        %img{:src => "http://bloximages.newyork1.vip.townnews.com/theeastside.news/content/tncms/custom/image/d5b82066-1d54-11e6-96d7-17f17fada470.png?_dc=1463616088" }
      %hr
    .small-6.small-centered.columns
      =link_to "http://www.issaquahreporter.com/news/268961821.html", target: "_blank" do
        %img{:src => "http://media.bclocalnews.com/images/IssySam.png"}
      %hr
  .row.centered{:style => "margin-bottom: 25px;"}
  %hr
%section.show-for-large-up.skyblue
  .row
    .small-12.columns.centered
      %h2.centered
        Project Airtime Flight Videos
      %dl.tabs{:style => "margin-left: 5%;", :data => {:tab => ""}}
        - @videos.all.each do |x|
          %dd{style: "margin-top: 5px;"}
            = link_to "#{x.title}", "#video_#{x.id}", style: "padding: 10px;"
        / %dd
        /   =link_to "View From Above", "#video8", style: "padding: 10px;"
      .tabs-content.centered
        - @videos.all.each do |x|
          .content{id: "video_#{x.id}"}
            %iframe{:width => "700", :height => "400", :src => "#{x.url}", :frameborder => "0"}
        / #video4.content
        /   %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/Jf2_qzNZjmM", :frameborder => "0"}
        / #video5.content
        /   %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/CJFugtJlC_s", :frameborder => "0"}
        / #video6.content
        /   %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/rX511v45TIU", :frameborder => "0"}
        / #video7.content
        /   %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/VzrlexXcEtM", :frameborder => "0"}
        / #video8.content
        /   <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fprojectairtime%2Fvideos%2F1067313513386793%2F&show_text=0&width=560" width="700" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
%section.show-for-medium-down
  .row
    .small-8.column.small-centered
      %h3.centered
        Project Airtime Flight Videos
      - @videos.all.each do |x|
        .videoWrapper
          %iframe{:src => "#{x.url}", :frameborder => "0"}
%section
  .row
    .small-12.column
      %h2.centered Our Sponsors & Supporters
    .small-12.columns
      %img{src: "http://boostfitnessmarketing.com/wp-content/uploads/Screen-Shot-2016-12-14-at-2.12.13-PM.png", style: "height: 100px; float: right;"}
      %p
        Project Airtime has many great supporters. It's nearly impossible to thank every single contributor but you know who you are. From those that "like" and share our videos, to the foundations that fund our efforts, every supporter counts. You are Project Airtime! This is your organization and we will do everything we can to make you proud of it.
  .row
    - @sponsors.each do |sponsor|
      .small-12.large-4.columns
        %p.centered
          =sponsor.name