.row
  .small-12.large-6.column
    %h4 Want to Volunteer Time to Project Airtime?
    %hr
    %p Project Airtime is always looking for people and organizations that are willing to donate time to the cause.
    %p We're a small team here at Project Airtime. Any and all help is greatly appreciated.
    %p If you've got a skill we could use, send us a message. We're currently looking for people or organizations with expertise in:
    %ul
      %li Fundraising
      %li Partnerships
      %li Promotions
  .small-12.large-6.column
    = form_tag '/volunteer_form', method: :post, data: {abide: ''} do
      %fieldset
        %legend Project Airtime Volunteer Form
        .small-12.large-6.column
          = label_tag :sender_name, "Your Name"
          = text_field_tag :sender_name, nil, placeholder: 'Your Name', class: 'radius', required: ''
          %small.error Please Include Your Name
        .small-12.large-6.column
          = label_tag :sender, "Your Email"
          = email_field_tag :sender, nil, placeholder: 'name@example.com', class: 'radius', type:'email', required: ''
          %small.error Must Be Valid Email
        .small-12.large-12.column
          = label_tag :subject, "Subject"
          = text_field_tag :subject, nil, class: 'radius', required: ''
          %small.error Please Include Subject
        .small-12.large-12.column
          = label_tag :message, "Message"
          = text_area_tag :message, nil, class: 'radius', rows: 3, required: ''
          = hidden_field_tag :hidden_field, "volunteer-form-23498hflkj9f8f2n3info8j3"
          %small.error Please Include Message Content
        .small-12.large-12.column
          =submit_tag "Send Volunteer Form", class: 'button right radius'